<a href="https://colab.research.google.com/github/begumpoly/Golden-Globe-Awards/blob/main/goldenglobe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd # Import the pandas library for data manipulation and analysis, commonly aliased as 'pd'.
import matplotlib.pyplot as plt # Import the pyplot module from matplotlib for creating plots and visualizations, commonly aliased as 'plt'.
import seaborn as sns # Import the seaborn library, which is based on matplotlib and provides a high-level interface for drawing attractive statistical graphics, commonly aliased as 'sns'.
import plotly.figure_factory as ff # Import the figure_factory module from the plotly library, which contains functions to create specific types of figures, commonly aliased as 'ff'.
from IPython.display import display, HTML # Import the display and HTML functions from IPython.display for enhanced output display in Jupyter notebooks.
import plotly.express as px # Import the express module from the plotly library, a high-level API for quickly creating plotly figures, commonly aliased as 'px'.
import plotly.graph_objects as go # Import the graph_objects module from the plotly library, the lower-level API for creating detailed plotly figures, commonly aliased as 'go'.
import plotly.subplots as sp # Import the subplots module from the plotly library, used for creating figures with multiple plots arranged in a grid, commonly aliased as 'sp'.

In [11]:
# Define the path to the dataset file
file_path='/content/golden_globe_awards.csv'
#Read the CSV file into a pandas DataFrame
df=pd.read_csv(file_path)

In [13]:
df.shape #Display the dimensions (rows, columns) of the DataFrame

(7991, 7)

In [14]:
df.columns # Display the names of the columns in the DataFrame

Index(['year_film', 'year_award', 'ceremony', 'category', 'nominee', 'film',
       'win'],
      dtype='object')

In [16]:
df.info()# Print a concise summary of the DataFrame. This includes the index dtype and columns, non-null values in each column, data types, and memory usage. It's a good way to quickly inspect the data structure.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year_film   7991 non-null   int64
 1   year_award  7991 non-null   int64
 2   ceremony    7991 non-null   int64
 3   category    7991 non-null   object
 4   nominee     7991 non-null   object
 5   film        6191 non-null   object
 6   win         7991 non-null   bool
dtypes: bool(1), int64(3), object(3)
memory usage: 382.5+ KB

In [8]:
df.isnull().sum()# Count the number of missing values for each column

year_film        0
year_award       0
ceremony         0
category         0
nominee          0
film          1800
win              0
dtype: int64

In [18]:
#Removing Duplicates:

df.drop_duplicates(inplace=True)

In [19]:
df.columns = df.columns.str.replace(' ', '')# removes spaces in each column name

In [24]:
## Clean column names by stripping whitespace, converting them to lowercase
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]
print(df.columns)

Index(['year_film', 'year_award', 'ceremony', 'category', 'nominee', 'film',
       'win'],
      dtype='object')

In [13]:
df.head()

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True

In [27]:
df['film'] = df['film'].fillna('N/s')

In [26]:
print(df['film'])

0       For Whom The Bell Tolls
1       For Whom The Bell Tolls
2        The Song Of Bernadette
3                           N/A
4        The Song Of Bernadette
                 ...
7986                 Succession
7987                    Fleabag
7988                      Barry
7989                        N/A
7990                        N/A
Name: film, Length: 7991, dtype: object